<!DOCTYPE html>
<html>
  <head>
    <title>PM</title>
    <link rel='stylesheet' href='css/bootstrap.css' />
  </head>
  <body class='container'>
    
    <div class="page-header">PM - app </div>
    
    <a href="pm_page" class="btn btn-primary">PM-page</a>
    
  </body>
</html>
